.disabledList{
    
    pointer-events:none; 
    opacity:0.6;        

}

#todoList{
    background-color: darkgrey;
    border: 8px solid black;
    border-radius: 1rem;
}

#mainnavbar{
    background:brown;
}